<div class='wrapper-footer'>
    <div class='d-flex flex-column w-75 h-100 ml-auto mr-auto pt-6'>
        <div class='d-flex'>
            <div class='w-50'>
                <a class='navbar-brand color-inherit' href='/'>
                    <img class='logo' src='/img/min.jpg' alt='min' />
                    XEdu
                </a>
                <p class='contact font-size-14'>
                    <strong> Điện thoại:</strong>
                    <a
                        class='color-inherit'
                        href='tel:0847008224'
                    >0847008224</a>
                    <br />
                    <strong>Email:</strong>
                    <a
                        class='color-inherit'
                        href='mailto:duynhanngonguyen@gmail.com'
                    >duynhanngonguyen@gmail.com</a>
                    <br />
                    <strong>Địa chỉ:</strong>
                    <span> Phường Linh Trung, Thủ Đức, TP.HCM</span>
                </p>
            </div>
            <div class='d-flex flex-column w-25 pl-4 pr-4 list'>
                <h2 class='title'>VỀ XEdu</h2>
                <a class='font-size-14 color-inherit' href='/about-us'>Giới
                    thiệu</a>
                <a class='font-size-14 color-inherit' href='/contact-us'>Liên hệ</a>
                <a class='font-size-14 color-inherit' href='/terms'>Điều khoản</a>
                <a class='font-size-14 color-inherit' href='/security'>Bảo mật</a>
                <a class='font-size-14 color-inherit' href='/careers'>Cơ hội
                    việc làm</a>
            </div>
            <div class='d-flex flex-column w-25 pl-4 pr-4 list'>
                <h2 class='title'>SẢN PHẨM</h2>
                <a class='font-size-14 color-inherit' href='/about-us'>Game
                    Nester</a>
                <a class='font-size-14 color-inherit' href='/contact-us'>Game
                    CSS Diner</a>
                <a class='font-size-14 color-inherit' href='/terms'>Game CSS
                    Selectors</a>
                <a class='font-size-14 color-inherit' href='/terms'>Game Froggy</a>
                <a class='font-size-14 color-inherit' href='/terms'>Game Froggy
                    Pro</a>
            </div>
            <div class='d-flex flex-column w-25 pl-4 pr-4 list'>
                <h2 class='title'>CÔNG CỤ</h2>
                <a class='font-size-14 color-inherit' href='/about-us'>Tạo CV
                    xin việc</a>
                <a class='font-size-14 color-inherit' href='/contact-us'>Rút gọn
                    liên kết</a>
                <a class='font-size-14 color-inherit' href='/terms'>Clip-path
                    maker</a>
            </div>
            <div class='d-flex flex-column w-50 pl-4 pr-4 list'>
                <h2 class='title'>CÔNG TY CỔ PHẦN CÔNG NGHỆ XEdu</h2>
                <div>
                    <strong>Mã số thuế: </strong>0293939023
                </div>
                <div>
                    <strong>Ngày thành lập: </strong>10/12/2004
                </div>
                <div>
                    <strong>Lĩnh vực hoạt động: </strong>Giáo dục, công nghệ -
                    lập trình. Chúng tôi tập trung xây dựng và phát triển các
                    sản phẩm mang lại giá trị cho cộng đồng lập trình Việt Name.
                </div>
            </div>
        </div>
        <div class='mt-5'>
            <div class='d-flex justify-content-end icon-socials'>
                <a class='icon-social text-danger' href='/'>
                    <svg
                        aria-hidden='true'
                        focusable='false'
                        data-prefix='fab'
                        data-icon='youtube-square'
                        class='svg-inline--fa fa-youtube-square'
                        role='img'
                        xmlns='http://www.w3.org/2000/svg'
                        viewBox='0 0 448 512'
                    >
                        <path
                            fill='currentColor'
                            d='M186.8 202.1l95.2 54.1-95.2 54.1V202.1zM448 80v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-42 176.3s0-59.6-7.6-88.2c-4.2-15.8-16.5-28.2-32.2-32.4C337.9 128 224 128 224 128s-113.9 0-142.2 7.7c-15.7 4.2-28 16.6-32.2 32.4-7.6 28.5-7.6 88.2-7.6 88.2s0 59.6 7.6 88.2c4.2 15.8 16.5 27.7 32.2 31.9C110.1 384 224 384 224 384s113.9 0 142.2-7.7c15.7-4.2 28-16.1 32.2-31.9 7.6-28.5 7.6-88.1 7.6-88.1z'
                        ></path>
                    </svg>
                </a>
                <a class='icon-social' href='/'>
                    <svg
                        aria-hidden='true'
                        focusable='false'
                        data-prefix='fab'
                        data-icon='facebook-square'
                        class='svg-inline--fa fa-facebook-square'
                        role='img'
                        xmlns='http://www.w3.org/2000/svg'
                        viewBox='0 0 448 512'
                    >
                        <path
                            fill='currentColor'
                            d='M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.3V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0 -48-48z'
                        ></path>
                    </svg>
                </a>
                <a class='icon-social text-light' href='/'>
                    <svg
                        aria-hidden='true'
                        focusable='false'
                        data-prefix='fab'
                        data-icon='tiktok'
                        class='svg-inline--fa fa-tiktok'
                        role='img'
                        xmlns='http://www.w3.org/2000/svg'
                        viewBox='0 0 448 512'
                    >]
                        <path
                            fill='currentColor'
                            d='M448 209.9a210.1 210.1 0 0 1 -122.8-39.25V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.62 74.62 0 1 0 52.23 71.18V0l88 0a121.2 121.2 0 0 0 1.86 22.17h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.14z'
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>