<div class='landing-container w-100'>
    <div class='hero py-5 mx-4'>
        <div class='container'>
            <h1>Cách dễ nhất để học
                <strong>HTML CSS</strong>
                cho người mới bắt đầu!
            </h1>
            <p class='desc py-4 mx-auto'>
                Thực hành
                <strong class='text-highlight'>8 dự án</strong>
                trên Figma,
                <strong class='text-highlight'>300+ bài tập</strong>
                và thử thách, mua một lần học mãi mãi, được thiết kế và hướng
                dẫn bởi
                <a
                    target='_blank'
                    rel='noreferrer'
                    href='https://fullstack.edu.vn/blog/son-dang-tu-chang-sinh-vien-toi-ceo-cua-f8.html'
                >
                    <strong class='text-highlight'>Sơn Đặng</strong>
                </a>.
            </p>
            <div class='d-flex justify-content-center cta-wrap'>
                <a
                    class='btn btn-light mx-1'
                    href='https://htmlcss.fullstack.edu.vn/'
                >
                    <span class='mr-1'>Học thử miễn phí</span>
                    <i class='bi bi-chevron-right'></i>
                </a>
                <a
                    class='btn btn-outline-light mx-1'
                    href='https://fullstack.edu.vn/payment/htmlcss'
                >
                    <span class='mr-1'>Mua khóa học</span>
                    <i class='bi bi-chevron-right'></i>
                </a>
            </div>
        </div>
    </div>
    <div class='dev-env py-5 mx-4'>
        <div class='container'>
            <h2>Cùng xem thành quả sau khoá học nhé!</h2>
            <div
                id='video-box'
                class='position-relative main-video-wrap has-overlay'
            >
                <video
                    class='main-video'
                    src='https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/f8-project-8.mp4'
                ></video>
                <div
                    class='align-items-center justify-content-center play-icon'
                >
                    <i class='bi bi-play-fill'></i>
                </div>
            </div>
            {{! <script>
            document.addEventListener("DOMContentLoaded", function() {
                const mainVideo = $(".main-video");
                $("#video-box").click(function() {
                    $("#video-box").toggleClass("has-overlay");
                    
                    if (mainVideo[0].paused) {
                        mainVideo[0].play();
                    } else {
                        mainVideo[0].pause();
                    }
                })
            })
        </script> }}
        </div>
    </div>
    <div class='section section-projects py-5 mx-4'>
        <div class='container d-flex'>
            <div class='left flex-1 mr-5'>
                <h2 class='heading'>
                    Thực hành 8 dự án với thiết kế trên Figma
                </h2>
                <p class='desc'>
                    Figma là công cụ thiết kế UI/UX hàng đầu thế giới hiện nay.
                    Với 8 dự án thực hành trên Figma, bạn có thể tự làm lại hầu
                    hết mọi giao diện trang web mà bạn thấy.
                </p>
                <p class='desc'>
                    Đặc biệt, dự án số 8 bạn sẽ được áp dụng đầy đủ: multiple
                    pages, dark/light mode, sử dụng Sass 7-1 pattern, responsive
                    6 breakpoints, sử dụng Grid system, v.v.
                </p>
                <a class='btn btn-light' href='#'>
                    <span class='mr-1'>Học thử ngay</span>
                    <i class='bi bi-chevron-right'></i>
                </a>
            </div>
            <div
                class='right flex-1 ml-5 d-flex justify-content-center align-items-center'
            >
                <div
                    class='w-75 h-75 d-flex flex-column wrapper-img position-relative'
                >
                    <img
                        class='w-75 h-75 border-radius-16 img'
                        src='https://hoanghamobile.com/tin-tuc/wp-content/uploads/2023/07/anh-dep-thien-nhien-2-1.jpg'
                        alt='Ảnh 1'
                    />
                    <img
                        class='w-75 h-75 align-self-end border-radius-16 right img'
                        src='https://hoanghamobile.com/tin-tuc/wp-content/uploads/2023/07/anh-dep-thien-nhien-2-1.jpg'
                        alt=''
                    />
                    <img
                        class='light'
                        src='https://fullstack.edu.vn/landing/htmlcss/assets/img/glow-new.png'
                        alt=''
                    />
                </div>
            </div>
        </div>
    </div>
    <div class='section section-mentor py-5 mx-4'>
        <div class='container d-flex'>
            <div class='left flex-1 mr-5'>
                <h2 class='heading'>
                    Thực hành 8 dự án với thiết kế trên Figma
                </h2>
                <blockquote>
                    <p class='desc'>
                        "Trang web đầu tiên mình làm vào năm 2013, tuy nó chưa
                        được xuất sắc nhưng đã giúp công ty cũ của mình bán được
                        hàng trăm triệu mỗi tháng nhờ chức năng đặt hàng
                        online."
                    </p>
                </blockquote>
                <blockquote>
                    <p class='desc'>
                        "Mình có thêm 2 giải quán quân cuộc thi sáng tạo của FPT
                        vào 2016 với sản phẩm là game Siêu Đạo Chích, game gắp
                        thú bằng máy vật lý qua Internet đầu tiên tại VN."
                    </p>
                </blockquote>
                <blockquote>
                    <p class='desc'>
                        "Sau 8 năm chinh chiến trong ngành, mình đặt câu hỏi làm
                        thế nào để có thể chia sẻ được những kiến thức mình đã
                        tích lũy sau bằng đó năm thực chiến. Mình đã tạo ra F8!"
                    </p>
                </blockquote>
                <a class='btn btn-light' href='#'>
                    <span class='mr-1'>Tìm hiểu thêm</span>
                    <i class='bi bi-chevron-right'></i>
                </a>
            </div>
            <div
                class='right flex-1 ml-5 d-flex flex-column justify-content-center align-items-center position-relative'
            >
                <img
                    class='img'
                    src='https://hoanghamobile.com/tin-tuc/wp-content/uploads/2023/07/anh-dep-thien-nhien-2-1.jpg'
                    alt='Ảnh 1'
                />
                <p class='desc'>
                    Sơn Đặng là CEO - Founder của Cộng Đồng Học Lập Trình F8.
                    Hiện tại, anh vẫn là một Fullstack developer với hơn 8 năm
                    kinh nghiệm làm việc thực tế.
                </p>
                <img
                    class='light'
                    src='https://fullstack.edu.vn/landing/htmlcss/assets/img/glow-new.png'
                    alt=''
                />
            </div>
        </div>
    </div>
    <div class='course-content py-5 mx-4'>
        <div class='container'>
            <div class='inner'>
                <h2 class='heading'>Kiến thức đầy đủ và chi tiết ✨</h2>
                <p class='desc'>
                    Với
                    <strong class='text-highlight'> 400+ bài học</strong>, bài
                    tập và thử thách, đây sẽ là khóa học đầy đủ và chi tiết nhất
                    bạn có thể tìm kiếm được ở trên Internet.
                </p>
                <div class='list-tracks d-flex'>
                    <ul>
                        <li>Cấu trúc file HTML</li>
                        <li>Tìm hiểu các thẻ meta</li>
                        <li>Thuộc tính trong HTML</li>
                        <li>Sử dụng liên kết</li>
                        <li>Sử dụng Emmet</li>
                        <li>Tính thừa kế CSS</li>
                        <li>Thẻ inline và block</li>
                        <li>Đệm, viền, khoảng lề</li>
                    </ul>
                    <ul>
                        <li>Đơn vị trong CSS</li>
                        <li>Làm việc với font chữ</li>
                        <li>Làm việc với hình ảnh</li>
                        <li>Làm việc với background</li>
                        <li>Thuộc tính vị trí (position)</li>
                        <li>Sử dụng biến trong CSS</li>
                        <li>CSS selectors nâng cao</li>
                        <li>Đặt tên class chuẩn BEM</li>
                    </ul>
                    <ul>
                        <li>Semantic trong HTML5</li>
                        <li>Sử dụng Flexbox</li>
                        <li>Sử dụng CSS Grid</li>
                        <li>Forms và validations</li>
                        <li>Responsive web design</li>
                        <li>Grid system 12 columns</li>
                        <li>Sử dụng Animations</li>
                        <li>Hướng dẫn sử dụng Sass</li>
                    </ul>
                    <ul>
                        <li>Web accessibility</li>
                        <li>Tìm hiểu về UI và UX</li>
                        <li>Rèn luyện mắt thẩm mỹ</li>
                        <li>Sử dụng Git, Github</li>
                        <li>Kiến thức SEO cơ bản</li>
                        <li>Tra cứu thẻ HTML</li>
                        <li>Tính hợp lệ của HTML</li>
                        <li>Tìm hiểu pseudo-elements</li>
                    </ul>
                </div>
                <p class='help'>
                    *Ở đây chỉ bao gồm nội dung tiêu biểu.
                    <a
                        class='text-highlight'
                        href='https://htmlcss.fullstack.edu.vn/'
                    >
                        Xem đầy đủ nội dung khóa học</a>.
                </p>
            </div>
        </div>
    </div>
</div>