<div class='container-profile position-relative'>
    <div class='banner position-relative'>
        <div class='d-flex user'>
            <div class='user-avatar'>
                <div class='avatar'>
                    <img class='' src='/img/min.jpg' alt='' />
                </div>
            </div>
            <div class='d-flex align-items-end user-name'>
                <span>Ngô Nguyễn Duy Nhân</span>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='d-flex flex-column col-md-5'>
                <div class='d-flex flex-column wrapper'>
                    <h3 class='title'>Giới thiệu</h3>
                    <div class='d-flex'>
                        <span class='mr-2'>
                            <i class='bi bi-people'></i>
                        </span>
                        <p>Thành viên của X-Edu từ một năm trước </p>
                    </div>
                </div>
                <div class='d-flex flex-column wrapper'>
                    <h3 class='title'>Hoạt động gần đây</h3>
                    <p>Chưa có hoạt động nào gần đây</p>
                </div>
            </div>
            <div class='d-flex flex-column col-md-7 wrapper'>
                <h3 class='title'>Các khoá học đã tham gia</h3>
                <div class='d-flex align-items-start inner'>
                    <a class='thumb' href='/'>
                        <img
                            class='w-100 h-100'
                            src='https://files.fullstack.edu.vn/f8-prod/courses/6.png'
                            alt=''
                        />
                    </a>
                    <div class='d-flex flex-column'>
                        <h3 class='mt-2 title'>Lập trình C++ cơ bản, nâng cao</h3>
                        <p class='desc'>
                            hoá học lập trình C++ tư cơ bản tới nâng cao dành
                            cho người mới bắt đầu. Mục tiêu của khoá học này
                            nhằm giúp các bạn nắm bắt được các khái niệm cơ bản
                            của lập trình C++.
                        </p>
                    </div>
                </div>
                <div class='d-flex align-items-start inner'>
                    <a class='thumb' href='/'>
                        <img
                            class='w-100 h-100'
                            src='https://files.fullstack.edu.vn/f8-prod/courses/21/63e1bcbaed1dd.png'
                            alt=''
                        />
                    </a>
                    <div class='d-flex flex-column'>
                        <h3 class='mt-2 title'>Lập trình C++ cơ bản, nâng cao</h3>
                        <p class='desc'>
                            hoá học lập trình C++ tư cơ bản tới nâng cao dành
                            cho người mới bắt đầu. Mục tiêu của khoá học này
                            nhằm giúp các bạn nắm bắt được các khái niệm cơ bản
                            của lập trình C++.
                        </p>
                    </div>
                </div>
                <div class='d-flex align-items-start inner'>
                    <a class='thumb' href='/'>
                        <img
                            class='w-100 h-100'
                            src='https://files.fullstack.edu.vn/f8-prod/courses/7.png'
                            alt=''
                        />
                    </a>
                    <div class='d-flex flex-column'>
                        <h3 class='mt-2 title'>Lập trình C++ cơ bản, nâng cao</h3>
                        <p class='desc'>
                            hoá học lập trình C++ tư cơ bản tới nâng cao dành
                            cho người mới bắt đầu. Mục tiêu của khoá học này
                            nhằm giúp các bạn nắm bắt được các khái niệm cơ bản
                            của lập trình C++.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='wrapper-btn'>
        <button class='btn d-flex align-items-center justify-content-center'>
            <i class='bi bi-megaphone'></i>
        </button>
    </div>
</div>