<div class='wrapper-profile'>
    <div class='d-flex flex-column heading'>
        <h2>Thông tin cá nhân</h2>
        <p>Quản lí thông tin cá nhân của bạn</p>
    </div>
    <div class='d-flex flex-column mb-4 wrapper-info'>
        <div class='d-flex flex-column sub-heading'>
            <h2>Thông tin cơ bản</h2>
            <p>Quản lí tên hiển thị, tên người dùng, bio và avatar của bạn</p>
        </div>
        <div class='d-flex flex-column content'>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Họ và tên </h3>
                    <span class='info'>Ngô nguyễn duy nhân</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Tên người dùng </h3>
                    <span class='info'>duynhanngonguyen</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Giới thiệu</h3>
                    <span class='info'> Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Ảnh đại diện </h3>
                    <img class='avatar mt-2' src='/img/min.jpg' />
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
        </div>

    </div>
    <div class='d-flex flex-column wrapper-info'>
        <div class='d-flex flex-column sub-heading'>
            <h2>Thông tin mạng xã hội</h2>
            <p>Quản lí liên kết tới các trang mạng xã hội của bạn</p>
        </div>
        <div class='d-flex flex-column content'>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3>Trang web cá nhân</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Github</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Linkedln</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Facebook</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Youtube</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Tiktok</h3>
                    <span class='info'>Chưa cập nhật</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class='d-none wrapper-security'>
    <div class='d-flex flex-column heading'>
        <h2>Mật khẩu và bảo mật</h2>
        <p>Quản lí mật khẩu và càu đặt bảo mật</p>
    </div>
    <div class='d-flex flex-column mb-4 wrapper-info'>
        <div class='d-flex flex-column sub-heading'>
            <h2>Đăng nhập và khôi phục</h2>
            <p>Quản lí mật khẩu và xác minh 2 bước</p>
        </div>
        <div class='d-flex flex-column content'>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3> Đổi mật khẩu</h3>
                    <span class='info'>Chưa đổi mật khẩu</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
            <div class='d-flex px-3 py-2 item'>
                <div class='d-flex flex-column flex-1'>
                    <h3>Xác minh 2 bước</h3>
                    <span class='info'>Đang tắt</span>
                </div>
                <span class='d-flex align-items-center'>
                    <i class='bi bi-chevron-right'></i>
                </span>
            </div>
        </div>
    </div>
</div>