@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

body::-webkit-scrollbar-track {
  background: #f1f1f1; }

body::-webkit-scrollbar-thumb {
  background: #afacac;
  border-radius: 4px; }

body::-webkit-scrollbar-thumb:hover {
  background: #7a7676; }

.container-fluid {
  height: 100vh; }

.layer {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .layer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: #fff; }
  .layer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.08;
    background-image: radial-gradient(#ffffff40, #fff0 40%), radial-gradient(#ffd152 30%, #e26996, rgba(226, 105, 150, 0.4) 41%, transparent 52%), radial-gradient(#a033ff 37%, transparent 46%), linear-gradient(155deg, transparent 65%, #25d466 95%), linear-gradient(45deg, #0065e0, #0f8bff);
    background-size: 200% 200%, 285% 500%, 285% 500%, cover, cover;
    background-position: bottom left, 109% 68%, 109% 68%, center, center; }

.btn-back {
  position: fixed;
  z-index: 1;
  top: 24px;
  right: 32px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #e1dbdb;
  font-size: 24px; }

.sidebar {
  border-right: 1px solid #e1dbdb;
  height: 100%;
  padding-right: 40px; }

.heading h2 {
  font-size: 24px; }

.heading p {
  font-size: 15px;
  opacity: 0.9; }

.wrapper {
  position: sticky;
  top: 30px; }
  .wrapper .logo {
    width: 48px;
    height: 48px;
    border-radius: 8px; }
    .wrapper .logo img {
      border-radius: 8px; }
  .wrapper .action {
    gap: 12px; }
    .wrapper .action button {
      padding: 14px 18px;
      border-radius: 10px;
      font-weight: 500;
      opacity: 0.9;
      background-color: transparent;
      transition: background-color 0.1s;
      gap: 16px; }
    .wrapper .action button.active {
      color: #fff;
      background-color: #344854; }
    .wrapper .action button:not(.active):hover {
      background-color: #0000001a; }

.wrapper-profile,
.wrapper-security {
  height: 1200px;
  margin-top: 92px; }
  .wrapper-profile .sub-heading h2,
  .wrapper-security .sub-heading h2 {
    font-size: 17px; }
  .wrapper-profile .sub-heading p,
  .wrapper-security .sub-heading p {
    font-size: 14px;
    opacity: 0.9; }
  .wrapper-profile .content,
  .wrapper-security .content {
    background-color: #fff;
    border-radius: 8px; }
    .wrapper-profile .content .item,
    .wrapper-security .content .item {
      border-bottom: 1px solid #e1dbdb; }
      .wrapper-profile .content .item:last-child,
      .wrapper-security .content .item:last-child {
        border-bottom: none; }
      .wrapper-profile .content .item h3,
      .wrapper-security .content .item h3 {
        font-size: 16px;
        margin-bottom: 0; }
      .wrapper-profile .content .item .info,
      .wrapper-security .content .item .info {
        padding-right: 50px;
        font-size: 15px;
        opacity: 0.8;
        overflow: hidden;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; }
      .wrapper-profile .content .item:hover,
      .wrapper-security .content .item:hover {
        background: #0000000d;
        cursor: pointer; }
  .wrapper-profile .avatar,
  .wrapper-security .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%; }
