<div class='container-modal'>
    {{! Modal video introduce course}}
    <div
        id='modal-video-intro'
        class='wrapper-modal d-none align-items-center justify-content-center w-100 h-100'
    >
        {{#if course}}
            <div class='modal-1 modal-video-intro position-relative'>
                <h3>Giới thiệu khoá học</h3>
                <h2>{{course.name}}</h2>
                <button class='btn-close'>
                    <i class='bi bi-x-lg'></i>
                </button>
                <div class='wrapper-video'>
                    {{!-- <video muted autoPlay class="w-100 h-100" controls src={{course.videoUrl}}></video> --}}
                    <iframe
                        class='w-100 h-100'
                        src='https://www.youtube.com/embed/NaQnFcDKFiM?si=Q4AwDj2Uyqy7hYf5'
                        title='YouTube video player'
                        frameborder='0'
                        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                        referrerpolicy='strict-origin-when-cross-origin'
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        {{/if}}
    </div>
</div>