<div id='modal-register' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content border-radius-16 modal-register'>
            <button
                type='button'
                class='close btn-close'
                data-dismiss='modal'
                aria-label='Close'
            >
                <span aria-hidden='true'>
                    &times;
                </span>
            </button>
            <iframe
                class='w-100 h-100 border-radius-16'
                src='http://localhost:3000/auth/register'
                frameborder='0'
            ></iframe>
        </div>
    </div>
</div>