{{! <header>
    <a href='/'>
        <img class='logo' src='/img/min.jpg' alt='min' />
        Học dể đi làm
    </a>
</header> }}
<nav class='navbar navbar-expand-lg navbar-dark header-landing'>
    <a class='navbar-brand d-flex py-0' href='#'>
        <img class='logo' src='/img/min.jpg' alt='min' />
        <span class='slogan text-light'>
            HỌC LẬP TRÌNH
            <br />
            ĐỂ ĐI LÀM
        </span>
    </a>
    <button
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent'
        aria-expanded='false'
        aria-label='Toggle navigation'
    >
        <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse ml-4' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Nội dung</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Điểm khác biệt</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Thông số kỹ thuật</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Câu hỏi thường gặp</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='#'>Liên hệ</a>
            </li>
        </ul>
    </div>
</nav>