<div class='d-flex justify-content-center align-items-center footer-learning'>
    <button
        class='btn btn-light btn-navigate text-primary mr-2 btn-prev disabled'
    >
        <i class='bi bi-chevron-left'></i>
        Bài trước
    </button>
    <button class='btn btn-primary btn-navigate btn-next disabled'>
        Bài tiếp theo
        <i class='bi bi-chevron-right'></i>
    </button>
    <div class='d-flex align-items-center justify-content-end wrap-toggle'>
        <h3 class='title'>
            1. Những khái niệm cần biết
        </h3>
        <button
            class='btn d-flex align-items-center justify-content-center border-0 btn-toggle-sidebar'
        >
            <i class='bi bi-arrow-right'></i>
        </button>
    </div>
    <div class='comments-tutorial'>
        <button class='btn btn-light color-main'>
            <i class='bi bi-wechat'></i>
            Hỏi đáp
        </button>
    </div>
</div>